@use '../abstracts' as *;

.lead {
  @include reset;
  padding: 158px 70px;
  width: 100%;

  @include flex-column;
  align-items: flex-start;
  gap: 60px;

  @include background-image('lead.jpg');

  &__title {
    margin: 0;
  }

  @include breakpoint ($breakpoint-m) {
    & {
      padding: 100px 30px;
      gap: 40px;
    }
  }

  @include breakpoint ($breakpoint-s) {
    & {
      padding: 40px 5px 96px;
      gap: 18px;
    }
  }
}
