section.lead.content__lead
  h1.title.title_place_lead.lead__title Поставщик услуг цифровой трансформации и&nbsp;кибербезопасности
  a.main-button.lead__button(href="https://softline.ru" target="_blank") На сайт
