section.mission.content__mission
  div.mission__wrapper
  div.mission__content
    h2.title.title_place_mission.mission__title Миссия Softline
    p.mission__text
      | Мы помогаем организациям трансформироваться, работать эффективно и&nbsp;безопасно в&nbsp;условиях цифровой экономики.
