// colors

$color-bg: #FFFFFF;

$color-bg-red: #CB0F41;

$color-bg-dark-transparent: rgb(45, 54, 83, .6);

$color-button: #B01736;

$color-button-hover: #D43152;

$color-button-gray: #F0F0F0;

$color-border-gray: #D9D9D9;

// fonts

$font-family-main: 'Proxima Nova Condensed', Arial, sans-serif;

$font-family-secondary: 'Proxima Nova', Arial, sans-serif;

$color-font-black: #444444;

$color-font-dark-red: #B01736;

$color-font-red: #A30C33;

$color-font-white: #FFFFFF;

// breakpoints and page width

$max-content-width: 1250px;

$min-content-width: 320px;

$breakpoint-l: 1249px;

$breakpoint-m: 1023px;

$breakpoint-s: 767px;

// margins

$margin-l: 100px;

$margin-m: 80px;

$margin-s: 50px;
