div.map__header-wrapper
  header.map__header

    button.map__header-button.dropdown-button(data-role='dropdown', data-dropdown-label='dropdown-regions')
      span.map__header-button-text Офисы Softline
      span.map__header-button-icon

    div.map__regions-list
