section.about.content__about
  article.about__card
    p.about__text
      span.about__text-accent Softline
      |
      | – ведущий поставщик IT-решений и сервисов.*
      | Мы&nbsp;предлагаем комплексные IT-решения, облака, программное и&nbsp;аппаратное обеспечение,
      | решения по&nbsp;цифровой трансформации и&nbsp;кибербезопасности, а&nbsp;также широкий спектр IT-услуг.
